body, html{
    font-family: "Verdana";
    margin:0;
    padding: 0;
}

main #filtro{
    background: no-repeat url("../img/Undo.jpg");
    background-size: cover;
    background-position: center;
}

main #filtro video{
    display: none;
}
#titulo{
    top: 20%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 2;
    color: white;
    text-transform: uppercase;
}

#titulo h1{
    margin: 1em 0 0 0.1em;
    font-size: 20pt;
    font-weight: 200;
    background: none;
    color: white;
}

#titulo h2{
    margin: 0;
    padding-left: 1em;
    letter-spacing: 0.2em;
    font-weight: 200;
    font-size: 10pt;
}

#titulo h1, #titulo h2{
    text-align: center;
    text-shadow: 0 0 20px black;
}

nav{
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    padding: 0.01em;
    display: block;
    width: 100%;
    background: #131313;
    z-index: 1;
}

nav ul{
    padding: 0;
    display: flex;
    flex: column;
    flex-wrap:  wrap;
}

nav li{
    display: block;
    text-align: center;
    flex: 1;
    list-style: none;
    margin: 0.5em 1em;
}

nav li a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}


section #slide{
    padding: 10em 0 0 0;
    display:block;
    background: url("../img/casasRurales.jpg");
    background-size: cover;
    background-position: center;
}

#portf{
    padding-bottom: 4em;
}
#portf a{
        text-decoration: none;
}

#portf article #tituloSlide{
    font-weight: 300;
    display: block;
    color: white;
    font-size: 10pt;
    background: rgba(0,0,0,1);
    width: 100%;
    padding: 1em 0 1em 0;
    margin: 0 auto;
    text-align: center;
}


.flecha{
    position: relative;
    font-size: 24pt;
    font-weight: 600;
    color: white;
    background: none;
    border: none;
    bottom: 0.4em;
}

.flecha:hover{
   color: #00AAAA;
}

.flecha:nth-child(1){
    float: left;

}


.flecha:nth-child(3){
    float: right;
}

main #formacion{
    /*! margin: -6em 0; */
    padding: 0em 0em;
    color: white;
}

main section h1{
    text-transform: uppercase;
    background: white;
    color: #2A2A2A;
    text-align: center;
    margin: 3em 0 1.5em 0;
    padding: 1em 1em 0.5em 1.5em;
}

main #formacion p{
    padding: 2em 4em 4em 4em;
}

main #formacion ul{
    box-shadow: 0 0 8px grey;
    background: #333333;
    margin: 0;
    padding: 3.5em 1em 1.5em 1em;
}

main #formacion ul li{
    list-style: none;
    font-size: 10pt;
}

main #formacion ul .porcentaje{
    float: right;
}

.barra{
    width: 100%;
    margin: 1em 0 2em 0;
}

main #formacion article:nth-child(2) ul{
    padding: 0.1em 1em;
    
}
main #formacion article:nth-child(2) ul li{
    margin: 2em;
}

main #contacto{
    background: #00CCCC;
    text-align: center;
    padding-bottom: 4em;
}

main #contacto h1{
    background: none;
    color: white;
}

main #contacto iframe{
    width: 100%;
    margin-top: 2.5em;
}

main #contacto p:nth-child(2){
    color: white;
    font-size: 24pt;
    text-align: center;
    

}

#contacto p:nth-child(3){
    color: white;
    font-size:14pt;
    text-align: center;
}

main #contacto p:nth-child(4){
    color: white;
    font-size:14pt;
    text-align: center;
    margin-bottom: 4em;

}

#contactar form{
    display: flex;
    flex-direction: column;
    width: 100%;
}


#contactar input[type=submit]{
    background: white;
    border-width: 1px;
    padding: 0.3em 0.5em;
    font-size: 11pt;
    color: #555;
}

#contactar input[type=submit]:hover{
    background: #555;
    color: white;
    border: 1px solid #555;
}

#contactar input, #contactar textarea{
    width: 90%;
    margin: 0.5em auto;
}

#contactar textarea{
    height: 10em;
}


footer{
    font-size: 10pt;
    background: black;
    padding: 1em;
    color: white;
    text-align: center;
}

footer #redes_sociales{
    margin: 2em auto;
    display: inline-flex;
}

footer #redes_sociales span{
    margin: 0 auto;
    flex: 1;
    transition: 0.2s;
    padding: 2em;
}

footer #redes_sociales span:hover{
    padding: 4em;
}

footer #redes_sociales #facebook{
    background: no-repeat url("../img/facebook.svg");
}

footer #redes_sociales #facebook:hover{
    background: no-repeat url("../img/facebook_hover.svg");
}

footer #redes_sociales #twitter{
    background: no-repeat url("../img/twitter.svg");
}
footer #redes_sociales #twitter:hover{
    background: no-repeat url("../img/twitter_hover.svg");
}

footer #redes_sociales #youtube{
    background: no-repeat url("../img/youtube.svg");
}
footer #redes_sociales #youtube:hover{
    background: no-repeat url("../img/youtube_hover.svg");
}

footer #redes_sociales #google{
    background: no-repeat url("../img/google.svg");
}
footer #redes_sociales #google:hover{
    background: no-repeat url("../img/google_hover.svg");
}

@media all  and (min-width : 480px) {
    
    main #titulo h1{
        font-size: 26pt;
    }
    
     main #titulo h2{
        font-size: 13pt;
    }

    section #slide{
        padding: 20em 0 0 0;
    }

}

@media all and (min-width : 768px) {
    
    
    #contacto iframe{
       height: 22em;
    }
    
    #contactar{
        padding: 2em;
        display: flex;
        flex-direction: column;
    }
    
    #contactar div{
        display: flex;
        
    }
    
    #contactar div input:nth-child(1){
       flex: 1;
       margin-right: 1em;
    }
    
    #contactar div input:nth-child(2){
        flex: 1;
        margin-left: 1em;
    }
    
    #contactar form>input:nth-child(2){
        width:99%;
        margin: 1em 0;
    }
    
    #contactar input[type=submit]{
        width: auto;
    }
    
    #contactar textarea{
        width: 99%;
        height: 10em;
        margin-bottom: 1em;
    }
    
    main #filtro{
        overflow:  hidden;
        position: relative;
        bottom: 0;
        background: rgba(30,15,0, 1);
        opacity: 1;
    }

    main #filtro video{
        width: 100%;
        position: relative;
        display: block;
        opacity: 0,7;
    }
    
   section #slide{
       margin: 0 4em;
       padding: 22em 0 0 0;
    }
    

}

@media all and (min-width : 992px) {

    main #contenedor2{  
        display: flex;
        flex-wrap:  wrap;
        margin: 4em 0;
    }
    
     #contactar{
        flex: 1;
        margin: 0 5% 5em 5%;
    }
    
    #contactar input[type=submit]{
        margin: 0;
        width: 10em;
    }
    
    #contacto iframe{
        height: 19.5em;
        margin-right: 5em;
        flex: 1;
    }
    
    #contactar form div{
        display: flex;
        flex-direction: row;
    }

    #contactar form div *{
        width: 10em;
    }
    
    main #titulo h1{
        font-size: 32pt;
    }
    
    main #titulo h2{
        font-size: 13pt;
        letter-spacing: 0.4em;
    }
    
    section #slide{
        margin: 0 12em;
        padding: 28em 0 0 0;
    }
}

@media all and (min-width : 1200px) {
     main #titulo h1{
        font-size: 40pt;
    }
    
     main #titulo h2{
        font-size: 13pt;
        letter-spacing: 0.7em;
    }
}


