*{
  margin:0;
  font-family: Raleway,"Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
}

body{
  background: #F2F2F2;
}


header nav{
  background: black;
  padding: 1em;
  width: 100%;
  position: fixed;
  z-index: 1;
}


header nav #login{
  display: inline-block;
  float: right;
  margin: 0.4em 2em;
}

header nav canvas{
  float: left;
  margin-right: 0.3em;
}
header nav #login a{
  color: white;
  text-decoration: none;
  margin-right: 2em;
}

header nav #login a:hover{
  color: #26a69a;
}

header nav ul{
  display: inline-block;
}
header nav li{
  display: inline-block;
  margin: 0 2em;
}

header nav li a{
  color:white;
  text-decoration: none;
  font-size: 18pt;
}

header nav li a:hover{
  color:#26a69a;
}

#titulo{
  height: 19em;
  padding: 7em 0em 2em 0;
  text-align: center;
  font-family: Verdana;
}

#titulo h1{
  animation-name: animTitulo;
  animation-duration: 2s;
  text-transform: uppercase;
  margin-top: 1em;
  font-size: 56pt;
}

#titulo h4{
  animation-name: animSub;
  animation-duration: 4s;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  margin-bottom: 2em;
  font-size: 24pt;
  color: #949494;
}

@keyframes animTitulo {
    0%   {
      margin-top: -5em;
    }
    100% {margin-top: 1em;}
}

@keyframes animSub {
    30%   {
      margin-left: -100em;
    }
    100% {margin-left: 0em;}
}

#imagenes{
  display: flex;
}

#imagenes article{
  flex:1;
  background-color: white;
}

#imagenes article header{
  height: 7em;
  border-left: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  text-align: center;
  padding: 2em;
  transition: 0.5s;
}

#imagenes article header:hover{
  background: black;
  color: white;
}

#imagenes article header h2{
  font-size: 12pt;
}


#imagenes #image1{
  height: 250px;
  background: url("../img/pilares.jpg");
  background-size: cover;
}

#imagenes #image2{
  height: 250px;
  background: url("../img/ratas.jpg");
  background-size: cover;
}

#imagenes #image3{
  height: 250px;
  background: url("../img/pentaquarck.jpg");
  background-size: cover;
}

#contenedor{
  display: flex;
  padding: 2em 6em 0 6em;
}

main{
  flex: 7;
  margin-right: 1em;
}

main section{
  transition: 0.2s;
}

main section:hover{
  box-shadow: 0px 0px 10px grey;
  transform: scale(1.01,1.01);
}

main section article{
  padding: 2em;
  background: white;
  margin: 3em 0 3em 0;
  transition: 0.2s;
}

main section article h1{
  margin-bottom: 2em;
  font-size: 24pt;
}

main section article p{
  text-align: justify;
  margin: 2em 0 4em 0;
}

main section div, iframe{
  height: 350px;
  width: 100%;
  border: none;
}

main section div#image1{ 
  background: no-repeat url("../img/transplante_de_cara.jpg");
  background-size: 100%;
  background-position: center;
}

main section div#articuloAlcohol{ 
  background: no-repeat url("../img/alcohol.jpeg");
  background-size: 100%;
  background-position: center;
}

aside{
  flex: 3;
  padding-left: 1em;
  margin-left: 1em;
}

aside section{
  margin: 3em 0em;
  background: white;
  flex: 1;
  flex-direction: row;
}

aside section#social{
  display: flex;
  padding: 3%;

}

aside section#social div{
  height: 4em;
  min-width: 2em;
  border-radius: 1000px;
  background-position: center;
  margin: 2%;
  transition: 0.5s;
}

aside section#social div:hover{
  transform: rotate(360deg);
}

div#facebook{
  flex:1;
  background: no-repeat url("../img/icons/facebook.png");
  background-size: cover;
}

 div#twitter{
  flex:1;
  background: no-repeat url("../img/icons/twitter.png");
  background-size: cover;
}

div#google{
  flex:1;
  background:no-repeat  url("../img/icons/google.png");
  background-size: cover;
}

div#youtube{
  flex:1;
  background: no-repeat url("../img/icons/youtube.png");
  background-size: cover;
}

aside section header{
  padding: 2em;
}

aside section article{
  padding: 2em;
  border-bottom: 1px solid #F2F2F2;
}

footer{
  background: black;
  border-top: 5px solid black;
  color: grey;
  padding: 2em 0em 1em 0;
  text-align: center;
}

footer>div{
  height: 3em;
  width: 12em;
  display: flex;
  margin: 1em auto 1em auto;
}

footer div div{
  margin: 0.4em;
  border-radius: 100px;
  transition: 1s;
}

footer div div:hover{
  transform: rotate(360deg);
}

form{
  margin: 3em auto;
  background: white;
  padding: 1em 2.5em 2em 2.5em;
  font-size: 18pt;
  width: 22em;
}

form#login{
  height: 19em;
}

form#registro{
  height: 28em;
}

form h1{
  display: block;
  margin-bottom: 2em;
  
}

form *{
  display: inline-block;
  margin: 1em;
}

form input{
  margin-top: 1.4em;
  font-size: 12pt;
  width: 14em;
  float: right;
}

form input[type=submit]{
 margin-top: 3em;
 width: auto;
 border: none;
 background-color: #26a69a;
 color: white;
 padding: 0.5em 1em;
 font-weight: bold;
 cursor: pointer;
}

form input[type=submit]:hover{
  opacity: 0.8;
}

#sobreMi{
  width: 50em;
  margin: 0 auto;
}
#miImagen{
  height: 40em;
  background: url("../img/UWD.jpg");
  background-size: cover;
  background-position: center;
  margin: 6em  auto 10em auto;
}



@media all and (max-width: 1000px){
  
  header {
    padding: 0;
  }
  
  header nav{
    padding: 0;
    position: relative;
  }
  
  header nav ul{
    margin: 0 -2em 0 -4.5em;
    display: flex;
    flex-flow: column;
    background: white;   
  }
  
  header nav li a{
    padding-left: 1em;
  }
  
    header nav ul li{
    padding: 1em 0em;
    border-bottom: 1px solid white;
    background: #009688;
  }
  
  header nav ul li:hover{
    background: white;
    color: black;
  }
 
  header nav ul li:hover a{
    background: white;
    color: black;
  }
  
  header nav #login{
    float: none;
  }
  
  header nav #login a{
    text-align: center;
  }
  
  header nav #login{
    margin: 0;
    padding: 1em;
    width: 100%;
  }
  
  #contenedor{
    padding: 1em;
  }
  
  aside{
    display: none;
  }
}